$font-size: 1.2rem;
$font-color: #fff;
$font-family: 'Ubuntu', sans-serif;
$background: #191928;
$text-block-background: #5c677c;
$border-color: #5C677C;
$placeholder-color:#5C677C;
$input-background: #222231;