@import '../variables.scss';

.config-container {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  width: auto;
  height: 90vh;
  background: #222231;
  padding: 20px;
  z-index: 1000;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .close {
      cursor: pointer;
      padding: 5px;
      &:hover {
        background: #5c677c;
        border-radius: 100px;
      }
    }
  }
  .body {
    .input {
      -webkit-appearance: none;
      box-sizing: border-box;
      border: 0;
      background: $background;
      padding: 1.2rem 1rem;
      border-radius: 8px;
      width: 100%;
      color: $font-color;
      font-size: 1.2rem;
      letter-spacing: 1.13px;
      outline: 0;
      margin-right: 20px;
      margin-top: 10px;
    }
  }
  .footer {
    position: absolute;
    bottom: 30px;
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    .submit-button {
      transition: all 0.5s;
      cursor: pointer;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: 8px;
      font-size: 22px;
      background: #092d09;
      color: white;
      font-family: Ubuntu;
      font-weight: 800;
      width: 200px;
      border: none;
      box-shadow: 4px 5px 0px 0px #000;
      &:focus-within {
        outline: none;
        box-shadow: 2px 3px 0px 0px #000;
      }
      &:hover {
        box-shadow: 8px 12px 0px 0px #000;
      }
    }
  }
}
