@import '../variables.scss';

.content {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 1.2rem;
    box-sizing: border-box;
  }
}
.separator {
  border-bottom: 1px solid $border-color;
  width: 100%;
  height: 0.5px;
  background: $background;
  opacity: 0.4;
  margin: 1.25rem 0;
}
