.root {
  display: flex;
  position: relative;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 6.4%;
}

@media screen and (max-width: 768px) {
  .root {
    width: 100%;
    margin: 2rem 0;
    flex-direction: column;
  }
}
